@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
}

html, body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* basic layout */

body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main {
    position: relative;
    height: 100%;
    max-width: 25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.9fr 1.7fr;
    grid-template-areas:
      "logo"
      "hero"
      "subscription-form";
}

.logo {
    grid-area: logo;
}

.hero {
    grid-area: hero;
}

.subscription-form {
    grid-area: subscription-form;
}

@media only screen and (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 1.6fr;
        grid-template-areas:
          "logo hero"
          "subscription-form hero";
        max-width: none;
    }

    .logo {
        grid-area: logo;
    }

    .subscription-form {
        grid-area: subscription-form;
    }

    .hero {
        grid-area: hero;
    }
}

/* images */

.hero {
    background: url(images/hero-mobile.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

@media only screen and (min-width: 1000px) {
    .hero {
        background: url(images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}

.logo {
    background: url(images/logo.svg);
    background-repeat: no-repeat;
}

/* footer */

footer {
    /* position: absolute; */
    bottom: 0;
}

.attribution {
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}