@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* normalize */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.8em;
    margin: 0;
}

/* basic elements */

html, body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

summary {
    list-style-type: none;
}

summary::-webkit-details-marker {
    display: none;
}

/* card layout */

.main-container {
    position: relative;
    width: 80rem;
    height: 43rem;
}

#faq-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    border-radius: 20px;
    border-color: black;
    background-color: white;
    margin-top: auto;
    align-self: flex-end;
}

.faq-bg {
    flex: 1 50%;
    background: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -7rem 6rem, -48rem -24rem;
}

.faq-content {
    flex: 1 50%;
    padding-left: 1rem;
    padding-right: 10rem;
    padding-bottom: 6rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.faq-content::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.faq-heading {
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.faq-list {
    display: flex;
    flex-flow: column nowrap;
}

.faq-item {
    flex-grow: 1;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

.faq-qtn {
    font-size: 1.2rem;
    color: hsl(240, 6%, 50%);
    cursor: pointer;
}

.faq-qtn::after {
    content: url(images/icon-arrow-down.svg);
    float: right;
}

.faq-qtn:hover {
    color: hsl(14, 88%, 65%);
}

.faq-ans {
    padding-top: 1.2rem;
    padding-right: 1.2rem;
    color: hsl(240, 6%, 50%);
}

/* accordion open */

.faq-item[open] .faq-qtn {
    font-weight: 700;
    color: black;
}

.faq-item[open] .faq-qtn::after {
    transform: rotate(180deg);
}

.cube-fg {
    position: absolute;
    background: url(images/illustration-box-desktop.svg);
    width: 14rem;
    height: 13rem;
    top: 17rem;
    left: -9.7%;
}

/* mobile device card layout */
@media only screen and (max-width: 1000px) {
    .main-container {
        padding: 14rem 0 4rem 0;
        width: 28rem;
        height: 62rem;
    }

    #faq-wrapper {
        flex-flow: column nowrap;
    }

    .faq-heading {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .faq-bg {
        flex: 1 30%;
        /* trick to overflow the bg image out of div */
        padding-top: 10rem;
        margin-top: -10rem;
        padding-bottom: 10rem;
        /* *** */
        background: url(images/illustration-woman-online-mobile.svg), url(images/bg-pattern-mobile.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: 1.5rem 1rem, 4rem 10rem;
        background-size: 80%, 70%;
    }

    .faq-content {
        flex: 1 70%;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .faq-content h1 {
        text-align: center;
    }

    .cube-fg {
        display: none;
    }
}

/* footer */

.attribution {
    position: absolute;
    bottom: 1%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}