@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* normalize */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* profile card */

.profile-card {
    width: 350px;
    height: 375px;
    border-style: solid;
    border-color: black;
}

/* footer */

.attribution {
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}