@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
}

/* normalize */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

/* basic elements */

html, body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1 {
    color: var(--very-dark-magenta);
}

p {
    color: var(--dark-grayish-magenta);
}

/* basic layout */

.main-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1 100%;
    padding: 5rem 1.5rem;
}

@media only screen and (min-width: 800px) {
    .main-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "heading reviews"
          "testimonials testimonials";
        padding: 7rem 10rem;
      }

    .heading {
        grid-area: heading;
    }

    .testimonials {
        grid-area: testimonials;
    }

    .reviews {
        grid-area: reviews;
    }

}

/* testimonials */

.profile-pic {
    border-radius: 50%;
    width: 2.2rem;
}

.testimonials {
    padding-top: 2rem;
}

.testimonial-user {
    display: inline-block;
    vertical-align: top;
    padding-left: 1.2rem;
}

.testimonials .testimonial-item {
    margin-bottom: 1.5rem;
}

.testimonials .testimonial-item:last-child {
    margin-bottom: 0;
}

.testimonial-item {
    padding: 3rem 1.5rem;
    background-color: var(--very-dark-magenta);
    border-radius: 10px;
    overflow: hidden;
}

.user-name, .testimonial-content {
    color: white;
}

.user-name, .account-type, .testimonial-content {
    font-size: 0.9rem;
}

.testimonial-content {
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.account-type {
    font-weight: 500;
    color: var(--soft-pink);
}

@media only screen and (min-width: 800px) {
    .testimonials {
        display: flex;
        flex-flow: row nowrap;
        padding: 0;
    }

    .testimonial-item {
        flex: 1 33.33%;
        height: max-content;
    }

    .testimonials .testimonial-item {
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .testimonials .testimonial-item:last-child {
        margin-right: 0;
    }

    .y-offset-s {
        transform: translateY(1rem);
    }

    .y-offset-m {
        transform: translateY(2rem);
    }
}

/* footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}