@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

/* normalize */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

button {
    margin: 0;
    padding: 0;
    border: none;
}

/* background colours */

.clr-bg-vl-gray {
    background-color: hsl(0, 0%, 95%);
}

.clr-bg-bright-orange {
    background-color: hsl(31, 77%, 52%);
}

.clr-bg-dark-cyan {
    background-color: hsl(184, 100%, 22%);
}

.clr-bg-v-dark-cyan {
    background-color: hsl(179, 100%, 13%);
}

/* colours */

.clr-vl-gray {
    color: hsl(0, 0%, 95%);
}

.clr-white-75 {
    color: hsla(0, 0%, 100%, 0.75);
}

.clr-bright-orange {
    color: hsl(31, 77%, 52%);
}

.clr-dark-cyan {
    color: hsl(184, 100%, 22%);
}

.clr-v-dark-cyan {
    color: hsl(179, 100%, 13%);
}

/* helpers */

.flex-stretch {
    flex: 1;
}

.flex-no-grow {
    flex-grow: 0;
}

/* basic layout */

#main-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#content-wrapper {
    display: flex;
    padding: 10% 20% 10% 20%;
    flex-flow: row wrap;
}

@media (orientation: portrait) {
    #content-wrapper {
        flex-direction: column;
    }
}

/* card layout */

.car-type {
    flex: 1 33.33%;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
}

.car-type-name {
    font-family: 'Big Shoulders Display', cursive;
}

.car-type-description {
    font-family: 'Lexend Deca', sans-serif;
}

/* footer */

.attribution {
    font-size: 0.9rem; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
