@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --strong-cyan-85: hsl(172, 67%, 85%);
    --clr-very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan-43: hsl(186, 14%, 43%);
    --dark-grayish-cyan-56: hsl(184, 14%, 56%);
    --light-grayish-cyan-84: hsl(185, 41%, 84%);
    --light-grayish-cyan-97: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

/* basic elements */

html, body {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--strong-cyan-85);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* app */

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo {
    background-image: url(images/logo.svg);
    width: 4rem;
    height: 3rem;
    background-repeat: no-repeat;
    margin: 2rem 0 2rem 0;
}

#app {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--white);
    border-radius: 1rem 1rem 0 0;
    flex-grow: 1;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
}

.app-section {
    flex-grow: 1;
    flex-basis: 50%;
    border-radius: 0.5rem;
}

#calculator {
    background-color: white;
}

#summary {
    background-color: var(--clr-very-dark-cyan);
}

@media only screen and (min-width: 1000px) {
    main {
        margin-top: -1rem;
        padding-bottom: 1.5rem;
    }

    #app {
        flex-flow: row nowrap;
    }

    #heading {
        align-self: center;
        padding-bottom: 2rem;
    }

    #logo {
        margin: 0;
    }

    #app {
        border-radius: 1rem;
        min-height: 400px;
        min-width: 960px;
        max-height: 400px;
        max-width: 960px;
        flex-grow: 0;
    }

    #calculator {
        margin: 0 0.5rem 0 0;
    }

    #summary {
        margin: 0 0 0 0.5rem;
    }
}

/* tip selection */

.calc-section input[type="radio"] {
    opacity: 0;
    width: 0;
}

.calc-section .tip-label {
    display: inline-flex;
    background-color: var(--clr-very-dark-cyan);
    color: var(--white);
    font-weight: 700;
    width: 100%;
    max-height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
}

#input-tip-custom {
    background-color: var(--light-grayish-cyan-84);
    border: none;
    color: var(--clr-very-dark-cyan);
    font-size: 1rem;
}

#input-tip-custom::placeholder {
    text-align: right;
    color: var(--dark-grayish-cyan-43);
}

.calc-section input[type="radio"]:checked + label {
    background-color: var(--strong-cyan);
    color: var(--clr-very-dark-cyan);
}

.calc-section input[type="radio"]:hover + label {
    background-color: var(--strong-cyan);
    color: var(--clr-very-dark-cyan);
}

.calc-section input[type="radio"]:focus + label {
    background-color: var(--strong-cyan);
    color: var(--clr-very-dark-cyan);
}

.tip-selection-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    height: 100%;
}

.tip-item {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

/* footer */

.attribution {
    background-color: var(--white);
    font-size: 11px;
    text-align: center;
}

@media only screen and (min-width: 1000px) {
    .attribution {
        background-color: var(--strong-cyan-85);
    }
}